body {
    background-image: url(https://i.ytimg.com/vi/kRSbEIr4rUQ/maxresdefault.jpg);
    background-repeat: no-repeat;
    
}


.aside {
    position: relative;
    float: left;
    padding: 5px 5px 5px 5px;
    flex-direction: column;
    color: black;
}

.sidebar {
    color: ;
    position: relative;
    float: right;
    width: 200px;
    font-size: 17px;
    padding: 10px;
    margin: 10px;
}

#dealerCards {
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 10px;
    margin: 10px;
}

#playerCards {
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 10px;
    margin: 10px;
}

img {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;

}

p {
    font-family: cursive;
    font-weight: bold;
    flex-direction: column;
}

h1 {
    font-family: fantasy;
    font-weight: 400;
    align-items: flex-start;
    padding-bottom: 20px;
    color: black;
}

footer {
/*    position: absolute;*/
    margin-top: 200px;
    font-family: fantasy;
/*    align-content: flex-end;*/
    color: black;
    width: 200px;
/*
    padding: 20px 20px 20px 20px;
    border: 20px 20px 20px 20px;
*/
    margin-left: 1250px;
    background-color: 
}


hr {
    border: 5px solid #000;
}

#container {
   height:100%;
}

.images {
  background-color: ;
  padding: 1%;
    width: 200px; 
    margin-left: 20px;
}
